<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Fake IMDB</span>
      <div class="mdl-layout-spacer"></div>
      <button class="mdl-button mdl-js-button mdl-button--fab"  routerLink="/addMovie"   >
        <i class="material-icons">add</i>
      </button>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <button (click)="logout()">Logout</button>
      </nav>
    </div>
  </header>
</div>

<div class="mdl-grid">
      <div *ngIf="movieList.length >0">
        <div *ngFor="let movie of movieList">
            <div class="mdl-cell mdl-cell--4-col"><movie [movie]="movie"></movie></div>
        <!-- <movie [movie]="movie"></movie> -->
        </div>
      <div *ngIf="movieList.length==0">No movies inserted yet!</div>
  </div>
